.page{
    width: 100vw;
    height: 100vh;
    .main{
        // size
        width: 64.583%;
        margin: 0 auto;
        // margin
        margin-top: 2%;
        // grid
        display: grid;
        grid-template-columns: 32% 1fr;
    }
}