@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.container{
    //size
    width: 100%;
    position: absolute;
    .box{
        // size
        width: 20%;
        height: toRem(280);
        // border
        border: 1px black solid;
        border-radius: toRem(10);

        .navlist{
            .navText{
                font-weight: 400;
            }
        }
    }
}