@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.container{
    .title{
        // font
        font-size: toRem(24);
        font-weight: 600;
    }
    .category{
        // margin
        margin-left: 1.5rem;
        margin-bottom: 1.2rem;
        .basicInfo{
            width: fit-content;
            transition: all 0.1s;
            &:hover{
                cursor: pointer;
                font-weight: 600;
            }
        }
        .subnav{
            //size
            width: fit-content;
            // margin
            margin-left: 1rem;
            // transition
            transition: all 0.1s;
            &:hover{
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
}