@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

$factor: 0.8;

.box{
    transition: all 0.05s;
    // size
    width: toRem($factor*200);
    height: toRem($factor*64);
    // style
    border-radius: toRem($factor*24);
    background-color: #5696F4;
    // flex
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background-color: #2679F1;
        cursor: pointer;
    }
    .text{
        // font
        font-size: toRem($factor*24);
        font-weight: 600;
        color: white;
    }
}