@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.container{
    // size
    width: 100%;
    // border
    border: 1px solid #D9D9D9;
    border-radius: 16px;
    // flex
    display: flex;
    justify-content: flex-end;
    .wrapper{
        // size
        width: 100%;
        padding: toRem(20);
        // center
        margin: 0 auto;
        .title{
            // margin
            margin-top: 0;
            margin-bottom: toRem(20);
            // font
            font-size: toRem(16);
            font-weight: 600;
        }
        .category{
            margin: 0;
            margin-bottom: toRem(20);
            .label{
                font-weight: 600;
                font-size: toRem(14);

            }
            .firstgrid{
                // size
                height: toRem(44);
                padding: 0;
                margin-bottom: toRem(12);
                // style
                background-color: #F8F8F8;
                border: 1px solid #D9D9D9;
                border-radius: 8px;
                // grid
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                input{
                    // init
                    border: none;
                    background-color: #F8F8F8;
                    // border
                    border-right: #D9D9D9 1px solid;
                    &:first-child{
                        border-radius: 8px 0 0 8px;
                    }
                    &:last-child{
                        border-right: none;
                        border-radius: 0 8px 8px 0;
                    }
                    &:focus{
                        background-color: white;
                        z-index: 2;
                        outline: #5696F4 solid 1px;
                    }
                }
            }
            .grid{
                // size
                height: toRem(44);
                padding: 0;
                margin-bottom: toRem(12);
                // style
                background-color: #F8F8F8;
                border: 1px solid #D9D9D9;
                border-radius: 8px;
                // grid
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .dropdown{
                    border-right: #D9D9D9 1px solid;
                    border-radius: 8px 0 0 8px;
                }
                input{
                    // init
                    border: none;
                    background-color: #F8F8F8;
                    // border
                    border-right: #D9D9D9 1px solid;
                    &:last-child{
                        border-right: none;
                        border-radius: 0 8px 8px 0;
                    }
                    &:focus{
                        background-color: white;
                        z-index: 2;
                        outline: #5696F4 solid 1px;
                    }

                }
            }
        }
    }
}