@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.container{
    // flex
    display: flex;
    img{
        // size
        width: toRem(134);
        height: toRem(134);
        margin-right: toRem(20);
    }
    .text{
        .title{
            // flex
            display: flex;
            justify-content: flex-start;
            align-items: center;
            // margin
            margin-bottom: toRem(24);
            // font
            font-size: toRem(18);
            .company{
                // margin
                margin: 0;
                // font
                font-weight: 600;
            }
            .job{
                // margin
                margin: 0;
                // font
                color: #2679F1;
            }
            a{
                transition: all 0.1s;
                &:hover{
                    transform: rotate(0.25turn);
                }
            }
        }
        .description{
            // font
            font-size: toRem(16);
            color: #5B5C61;
            .recom{
                // margin
                margin: 0;
                // font
                font-weight: 600;
            }
            .reason{
                // margin
                margin: 0;
            }
        }
    }
}