@function toRem($value) {
    $remValue: ($value / 16) + rem; 
    @return $remValue;
}

.container{
    // size
    width: toRem(150);
    height: toRem(150);
    // flex
    display: flex;
    flex-direction: column;
    align-items: center;
    .name{
        // size
        margin: 0;
        margin-bottom: toRem(10);
        // font
        font-size: toRem(20);
    }
    img{
        background-color: red;
        // size
        width: 70%;
    }
}